successfulScrapeResults.json
unsuccessfulScrapeResults.json
validIDsFailedScrapeResults.json
unsuccessfulScrapeResults.json
successfulScrapeResults.json
potentiallySkippedResults.json
backupResults.json
errorMessageLogs.json
backupFailedIDs.json
backupSkippedIDs.json

